.logo {
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 30px;
  }
  
  .blue {
    color:rgb(66, 133, 244);
  }
  
  .red {
    color: rgb(219, 68, 55);
  }
  
  .yellow {
    color: rgb(244, 180, 0);
  }
  
  .green {
    color:rgb(15, 157, 88)
  }
  input{
     margin-left:530px;
     width:400px;
     height:30px;
     border-radius:20px;
     border-width:1px;
     color:black;
     font-weight:bold;
     padding-left:10px;
     border-color:rgb(151, 158, 165)
  }